
/*Definimos los parametros generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
}


/*Definimos las variables a utilizar en nuestro proyecto*/
:root{
    --bgprimary: #9f3647;
    --bgsecondary: #2a2a2a;
    --textprimary: #ffffff;
    --textsecondary: rgb(0, 0, 0);
    --btnsecondary: #181419;
}

@keyframes logo{
    0%{
        transform: translate(0px,0px) scale(0.9) rotate(0deg);
    }
    25%{
        transform: translate(-2px,2px) scale(0.7) rotate(10deg);
    }
    50%{
        transform: translate(-4px,4px) scale(1) rotate(0deg);
    }
    75%{
        transform: translate(0px,0px) scale(0.9) rotate(-10deg);
    }
    100%{
        transform: translate(4px,-4px) scale(0.8) rotate(0deg);    
    }
}

a{
    text-decoration: none;
    color: var(--textprimary); 
}

li{
    list-style-type: none;
}


body{
    header{    
        nav{
            background-color: var(--bgprimary);
            height: 10vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;

            .logo{
                background-color: var(--bgprimary);

                i, span{
                    background-color: var(--bgprimary);
                }

                span{
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }

            .logo:hover{
                animation-name: logo;
                animation-duration: 1s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }

            ul{
                background-color: var(--bgprimary);
                display: flex;
                flex-direction: row;
                gap: 0.5rem;

                li{
                    background-color: var(--bgprimary);
                    width: 7rem;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0.3rem;

                    a{
                        background-color: var(--bgprimary);
                        font-weight: bold;                   
                    }
                }

                li:hover{
                    box-shadow: 0 0 0.3rem var(--bgsecondary);
                }   

                li:last-child{
                    background-color: var(--btnsecondary);
                    
                    a{
                        background-color: var(--btnsecondary); 
                    }
                }

                li:last-child:hover{
                    background-color: var(--bgprimary);
                    a{
                        background-color: var(--bgprimary);
                    }
                }
         
            }

        }

    }

    main{

        h1{
            color: var(--textprimary);
            font-size: 3rem;
            font-weight: 700;   
    
        }

        h2{
            color: var(--textprimary);
            font-size: 1.5rem;
            font-weight: 400;

        }

        .principal{
            height: 90vh;
            padding: 4rem;
            background-image: url(../img/banner-bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: soft-light;
            background-color: rgba(57,56,56,0.75);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            text-align: center;

            a{
                padding: 1rem 3.5rem;
                border-radius: 0.5rem;
                background-color: var(--bgprimary);
                font-weight: bold;
            }

            a:hover{
                transform: scale(0.9);
                transition-duration: 0.4s;
                box-shadow: 0 0 0.4rem var(--textprimary);
            }
        }

    }

}



